body
{
    background-image: url("../ArchivoFotos/ppal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    Color:rgb(8, 8, 8);
    Font-size: 50px;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
    }
div{
    
    width: 500px;
    height: 180px;
    background:rgb(76, 0, 255);
    margin: 10px 550px;
    padding:30px;
    border: 5px solid black;
    }
p{
    Color:rgb(82, 190, 19);
    Font-size: 25px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

a{
    Color:rgb(8, 236, 72);
    Font-size: 20px;
    margin: 5px; 
}